<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <script src="//rawgit.com/IdentityModel/oidc-client-js/dev/dist/oidc-client.min.js" ></script>
</head>
<body style="text-align: center">

    {{{body}}}

</body>
</html>